@import "@/components/DeSy/Input/mixin.css";

$self: .desy-select;

$(self) {
  @mixin desy-input-base $(self);

  &__label {
    @mixin desy-input-label;
  }

  &__error {
    @mixin desy-input-error;
  }
}
