@import "@/components/DeSy/Input/mixin.css";

$self: .desy-checkbox;

$(self) {
  @mixin desy-input-base $(self);

  label {
    display: flex;
    align-items: center;
    gap: 8px;

    span:first-child {
      border: 2px solid var(--color-neutral-100);
      width: 24px;
      height: 24px;
      flex: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-neutral-100);

      svg {
        flex: none;
        transition: all 0.1s ease-in-out;
      }
    }

    input {
      display: none;
    }

  }

  &--checked {
    label {
      span:first-child {
        color: var(--color-structure-50);
        border: 2px solid var(--color-structure-50);

        svg {
          font-size: 24px;
          transform: rotate(5deg);
        }
      }
    }
  }

  &__label {
    @mixin desy-input-label;

    margin-bottom: 0;
  }

  &__error {
    @mixin desy-input-error;
  }
}
