/* @import "./mixin.css"; */

$self: .desy-input;

$(self) {
  background: red;
  /* @mixin desy-input-base;

  &__label {
    @mixin desy-input-label;
  }

  &__error {
    @mixin desy-input-error;
  } */
}
