@import "./mixin.css";

$self: .desy-input;

$(self) {
  @mixin desy-input-base $(self);

  &__label {
    @mixin desy-input-label;
  }

  &--prefix {
    $(self)__container {
      position: relative;
      padding-left: 40px;
    }
  }

  &--suffix {
    $(self)__container {
      position: relative;
      padding-right: 40px;
    }
  }

  &__prefix {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--color-structure-100);
  }

  &__suffix {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--color-structure-100);
  }


  &__error {
    @mixin desy-input-error;
  }
}
