@define-mixin desy-input-base $classname {
  width: 100%;
  color: var(--color-structure-50);
  background-color: var(--color-neutral-700);
  border: 2px solid var(--color-neutral-500);
  border-radius: var(--border-radius-lg);
  padding: 12px 16px;
  outline: none;
  transition: all 0.3s ease-in-out;
  border-radius: var(--radius-3xl);

  &:focus-within {
    border: 2px solid var(--color-accent-300);
    box-shadow: var(--shadow-glow-focus);
  }

  &::placeholder {
    color: var(--color-neutral-300);
  }

  input, select {
    color: var(--color-structure-50);
    width: 100%;
    outline: none;
    background-color: transparent !important;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0px 1000px var(--color-neutral-700) inset !important;
      -webkit-text-fill-color: var(--color-structure-50) !important;
    }
  }

  $(classname)__required {
    color: var(--color-error-500);
    margin-left: 4px;
  }
}

@define-mixin desy-input-label {
  display: block;
  width: 100%;
  font-size: var(--text-14);
  font-weight: 600;
  margin-bottom: 8px;
}

@define-mixin desy-input-error {
  border-color: var(--color-error-500);
}

