@import "@/components/DeSy/Input/mixin.css";

$self: .desy-file-input;

$(self) {
  @mixin desy-input-base $(self);

  &__label {
    @mixin desy-input-label;
  }

  &__input {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 9999px;
      overflow: hidden;
      background-color: rgba(255 255 255 / 0.3);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__error {
    @mixin desy-input-error;
  }
}
