@reference "@/assets/tailwindcss.css";

.desy-button {
  display: inline-block;
  padding: 16px 32px;
  background-color: var(--color-accent-500);
  color: var(--text-structure-50);
  border: none;
  border-radius: var(--radius-3xl);
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--color-accent-300);
    box-shadow: var(--shadow-glow-intense);
  }

  &:active {
    box-shadow: none;
    background-color: var(--color-accent-700);
  }
}
