@reference "@/assets/tailwindcss.css";

.desy-button {
  display: inline-block;
  position: relative;
  padding: 16px 32px;
  background-color: var(--color-accent-500);
  color: var(--text-structure-50);
  border: none;
  border-radius: var(--radius-3xl);
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--color-accent-300);
    box-shadow: var(--shadow-glow-intense);
  }

  &:active {
    box-shadow: none;
    background-color: var(--color-accent-700);
  }

  &--loading {
    color: transparent;
  }

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    border: 3px solid var(--text-structure-50);
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  &--outlined {
    background-color: transparent;
    border: 2px solid var(--color-accent-500);

    &:hover {
      color: var(--text-structure-50);
      box-shadow: var(--shadow-glow-intense);
    }

    &:active {
      background-color: transparent;
      color: var(--text-structure-50);
    }
  }

  &--disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
