.desy-toasts {
  position: fixed;
  top: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;

  z-index: 100;
  min-height: 0;
}

.toasts-move,
.toasts-enter-active,
.toasts-leave-active {
  transition: all 0.5s ease;
}

.toasts-enter-from,
.toasts-leave-to {
  opacity: 0;
  transform: translateX(150px);
}

.toasts-leave-active {
  position: absolute;
}
