$self: .desy-toast;

$(self) {
  background-color: var(--color-neutral-900);
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid var(--color-neutral-300);
  font-size: 1.4rem;

  &--info {
    border-color: var(--color-info-300);
  }

  &--error {
    border-color: var(--color-error-300);
  }

  &--success {
    border-color: var(--color-success-300);
  }
}
