@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-size: 62.5%;
}

body {
  @apply text-structure-50;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  letter-spacing: -0.02em;
}

h1 {
  @apply text-24 font-semibold;
}

h2 {
  @apply text-20 font-semibold;
}

h3 {
  @apply text-18 font-semibold;
}

h4 {
  @apply text-16 font-semibold;
}

h5 {
  @apply text-14 font-semibold;
}
