@import "intl-tel-input/build/css/intlTelInput.css";
@import "@/components/DeSy/Input/mixin.css";

$self: .desy-phone-input;

$(self) {
  @mixin desy-input-base $(self);

  &__label {
    @mixin desy-input-label;
  }

  &__error {
    @mixin desy-input-error;
  }
}

.iti{
  &__dropdown-content {
    background-color: var(--color-neutral-700);
    color: var(--color-structure-50);
  }

  &__search-input {
    padding-top: 8px;
    padding-bottom: 8px;

    &:focus-visible {
      outline: 1px solid var(--color-accent-300);
    }
  }
}
