@import "intl-tel-input/build/css/intlTelInput.css";
@import "@/components/DeSy/Input/mixin.css";

$self: .desy-phone-input;

$(self) {
  @mixin desy-input-base $(self);

  &__label {
    @mixin desy-input-label;
  }

  &__error {
    @mixin desy-input-error;
  }
}
